:root {
    --md-text-font:  "LXGW WenKai Screen", sans-serif; 
  }


@font-face {    
    font-family: 'LXGW';    
    src: url('./LXGWWenKaiGBScreen.woff') format('woff');/*IE*/     
}

.md-grid {
    max-width: 1440px;   
}

.md-typeset .admonition.inline {
    width: 350px;   
    column-width: auto;
    font-size: 16px;
}

.md-typeset .admonition.indexinline {
    width: 732px;   
    column-width: auto;
    font-size: 16px;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 16px
}

.md-typeset td,
.md-typeset th {
    font-size: 16px;
}